{% extends 'base.html.twig' %}

{% block title %}Edit Season{% endblock %}

{% block body %}
	<main class="container_all_series">
		<div class="container">
			<div class="container_series">
				<h1 class="text-center mt-5 mb-5">Modifier une saison</h1>

				{{ include('season/_form.html.twig', {'button_label': 'Update'}) }}
				<p class="text-center">
					<a href="{{ path('app_season_index') }}">back to list</a>
				</p>
				<p class="text-center">
					{{ include('season/_delete_form.html.twig') }}
				</p>
			</div>
		</div>
	</main>
{% endblock %}
