@import "~bootstrap/scss/bootstrap";

$color-dark: black;
$secondary-color: #FCD445;
$color-light: white;

body {
    background-color: $color-dark;
}

body {
    color: $color-light;
}

.navbar-collapse {
    flex-grow: unset;
}

.navbar {
    background-color: $secondary-color;
}

#bandefilm {
    width: 100%;
    height: 250px;
}