@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

$color-dark: black;
$secondary-color: #f1ca3a;
$color-light: white;

body {
    background-color: $color-dark;
}

body {
    color: $color-light;
}

.navbar-collapse {
    flex-grow: unset;
    font-family: Permanent Marker, sans-serif;
    color: $color-dark;
}

.navbar-light .navbar-nav .nav-link {
    color: $color-dark;
}

.navbar, .btn {
    background-color: $secondary-color;
}

h1, a.navbar-brand, a {
    font-family: Permanent Marker, sans-serif;
}

#bandefilm {
    width: 100%;
    height: 250px;
}

.photo_serie {
    width: 10rem;
}

.container_category {
    background-image: url(../images/series.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

a, button a {
    color: $color-dark;
    text-decoration: none;
}

h2, a {
    color: $color-light;
}

.container_series {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $color-dark;
    margin-left: 2rem;
    margin-right: 2rem;
}

.container_all_series {
    background-image: url(../images/all-series.jpg);
}

p {
    font-family: Roboto, sans-serif;
    color: $color-light;
}
