@import "~bootstrap/scss/bootstrap";

$color-dark: black;
$secondary-color: #FCD445;
$color-light: white;

body {
    background-color: $color-dark;
}

body {
    color: $color-light;
}

.navbar-collapse {
    flex-grow: unset;
}

.navbar {
    background-color: $secondary-color;
}

#bandefilm {
    width: 100%;
    height: 250px;
}

.photo_serie {
    width: 10rem;
}

.container_category, .container_series {
    background-image: url(../images/series.jpeg);
    opacity: 0.6;
}

a {
    color: $color-dark;
}

h2 a {
    color: $color-light;
}
