{% extends 'base.html.twig' %}


{% block title %}Wild Series{% endblock %}


{% block body %}
<img id="bandefilm" src="{{ asset('build/images/bandefilm.jpg') }}" alt="bande film"/>
<h1 class="text-center mt-5 mb-5">A LA UNE</h1>

{% endblock %}