{% extends 'base.html.twig' %}


{% block title %}Accueil Wild Series
{% endblock %}


{% block body %}

<div class="container_all_series">
    <main class="container">
		<div class="container_series">
			<h1 class="text-center mt-5 mb-5">A LA UNE</h1>
        <p class="text-center">      
            <img src="{{ asset('build/images/series.jpeg') }}" alt="serie" width="600"/>
        </p>
        
        <p class="text-center">      
            <img src="{{ asset('build/images/series.jpeg') }}" alt="serie" width="600"/>
        </p>
        <img id="bandefilm" src="{{ asset('build/images/banner.png') }}" alt="bande film"/>
		</div>   
    </main>
</div>
{% endblock %}
