{% extends 'base.html.twig' %}


{% block title %}Wild Series{% endblock %}


{% block body %}
<img id="bandefilm" src="{{ asset('build/images/banner.png') }}" alt="bande film"/>
<main class="container_index">
    <div class="container">
        <h1 class="text-center mt-5 mb-5">A LA UNE</h1>
    </div>
</main>
{% endblock %}