<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}Wild Series Email
			{% endblock %}
		</title>
	</head>
	<body>
		<h1 class="text-center">Hello ! It's a good new</h1>
		{% apply inky_to_html %}
		<container>
			<row class="header">
				<columns>
					<spacer size="16"></spacer>
				</columns>
				{% block body %}{% endblock %}
			</row>
		</container>
		{% endapply %}
	</body>
</html>
